@{
    ViewData["Title"] = "Home Page";
}






<main>
    <section class="intro">
        <div class="intro-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/illustration-intro.png" alt="illustration-intro"></div>
        <div class="intro-content">
            <h1> All your files in one secure location, accessible anywhere.</h1>

            <p class="lg-p mt-2">
                Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
            </p>
            <button class="btn mt-2"> Get Started</button>
        </div>


    </section>
    <section class="features">

        <div class="features-item">
            <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-access-anywhere.svg" alt=""> </div>
            <div class="features-item-body  mt-2">
                <h3>Access your files, anywhere</h3>

                <p>The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.</p>
            </div>
        </div>

        <div class="features-item">
            <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-security.svg" alt=""> </div>
            <div class="features-item-body mt-2">
                <h3> Security you can trust</h3>
                <p> 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.</p>
            </div>

        </div>
        <div class="features-item">
            <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-collaboration.svg" alt=""> </div>
            <div class="features-item-body  mt-2">
                <h3> Real-time collaboration</h3>
                <p> Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
            </div>

        </div>
        <div class="features-item">
            <div class="features-item-head"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/icon-any-file.svg" alt=""> </div>
            <div class="features-item-body  mt-2">
                <h3> Store any type of file</h3>
                <p> Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.</p>
            </div>
        </div>
    </section>
    <section class="productive">
        <div class="productive-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/illustration-stay-productive.png" alt=""> </div>

        <div class="productive-content">

            <h2>Stay productive, wherever you are</h2>

            <p class="lg-p"> Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs. </p>

            <p class="lg-p">
                Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
            </p>
            <p class="lg-p"> <a class="content-link" href="#">See how Fylo works <i class="fas fa-arrow-alt-circle-right"></i></a> </p>
        </div>
    </section>

    <section class="testimonial">

        <div class="testimonial-item">
            <div class="testimonial-item-text">
                <p>sample text</p>
            </div>
            <div class="testimonial-item-reviewer">
                <div class="testimonial-item-reviewer-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/profile-1.jpg" alt=""></div>
                <div class="ml-1 testimonial-item-reviewer-text">
                    <h4>sample</h4>
                    <p>Founder & CEO</p>
                </div>
            </div>
        </div>


        <div class="testimonial-item">
            <div class="testimonial-item-text">
                <p>sample text</p>
            </div>
            <div class="testimonial-item-reviewer">
                <div class="testimonial-item-reviewer-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/profile-2.jpg" alt=""></div>
                <div class="ml-1 testimonial-item-reviewer-text">
                    <h4> Sample </h4>
                    <p>Founder & CEO </p>
                </div>
            </div>
        </div>

        <div class="testimonial-item">
            <div class="testimonial-item-text">
                <p>sample text</p>
            </div>
            <div class="testimonial-item-reviewer">
                <div class="testimonial-item-reviewer-img"> <img src="https://hannahshiels.github.io/front-end-mentor/fylo-dark-theme-landing-page-master/images/profile-3.jpg" alt=""></div>
                <div class="ml-1 testimonial-item-reviewer-text">
                    <h4> sample</h4>
                    <p>Founder & CEO</p>
                </div>
            </div>
        </div>
    </section>

   
</main>
<br />
<br />
<br />
<footer>
    <p class="attribution">
        Coded by <a href="">Ron</a>
    </p>


</footer>
